<!-- ID: {{user.userID}}<br>
Role: {{user.role}}<br>
User Name: {{user.userName}}<br>
First Name: {{user.firstName}}<br>
Last Name: {{user.lastName}}<br>
Email: {{user.email}}<br>
Password: {{user.password}}<br>
Oauth: {{user.oAuth}}<br> -->

<!-- <div>
  <label>name:
    <input [(ngModel)]="user.userName" placeholder="userName">
  </label>
</div> -->

<!-- <h2>My Users</h2>
<ul class="users">
    <li *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
        <span class="badge">{{user.userID}}</span> {{user.userName}}
    </li>
</ul> -->

<h2>My Users</h2>
<ul class="users">
    <li *ngFor="let user of users">
        <a routerLink="/merchantDetail/{{user.userID}}">
            <span class="badge">{{user.userID}}</span> {{user.userName}}
        </a>
    </li>
</ul>

<div *ngIf="selectedUser">
    <h2>{{selectedUser.userName}} Details</h2>
    <div><span>id: </span>{{selectedUser.userID}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedUser.userName" placeholder="name">
      </label>
    </div>
</div>
